<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.url">jdbc:postgresql://190.57.138.220:5432/desarrollo_sp</property>
        <property name="hibernate.connection.username">joao</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="c3p0.minPoolSize">5</property>
        <property name="c3p0.timeout">1800</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ManagedSessionContext</property>
        <property name="hibernate.transaction.flush_before_completion">false</property>
        <property name="hibernate.transaction.auto_close_session">false</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.classloading.use_current_tccl_as_parent">false</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <!-- Schema Facturacion 
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.CaracteristicasProducto"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.DescuentoFactura"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.DetalleProducto"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.Establecimiento"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.EstadoDetalleProducto"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.EstadoEstablecimiento"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.EstadoFactura"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.Factura"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.ImpuestoFactura"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.Producto"/>
        <mapping class="com.jscompany.ebsystem.entidades.facturacion.TipoEstablecimiento"/>-->
        
        <!-- Schema FacturacionUsuarios -->
        <mapping class="com.jscompany.ebsystem.entidades.usuarios.Loguin"/>
        
    </session-factory>
</hibernate-configuration>

